{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1>About This Blog</h1>
                <hr>
                <p>Some interesting facts about this blog and it's original purpose</p>
                <ul>
                    <li>This was a side project to build a blog using Flask and Python</li>
                    <li>This was my FIRST project using Flask and Python</li>
                    <li>This was my first time using any type of ORM</li>
                    <li>My first time dealing with Markdown and quite a bunch of other things that I'll mention in my first blog post about this which you can read here.</li>
                    <li>This was my first time deploying something onto an Amazon AWS EC2 instance server using nginx</li>
                    <li>All of my code for this website is available on GitHub <a href="http://github.com/mouth147/pythonblog">here</a>!</li>
                </ul>
                <p>Besides all of that I intend to use this as my personal blog and document all my projects/status. Free feel to contact me about any questions at my email <b>contact@mikebotti.com</b></p>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
{% endblock %}
