{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h1 class="bloghead">Blog Entries</h1>
            <hr style="height:2px; color:#00334d;background-color:#00334d;border:none;"/>
        </div>
    </div>
    {% for post in posts.items %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div><h2 class="linkhead"><a href="{{ url_for('detail', slug = post.slug) }}">{{ post.title }}</a></h2>
                <div class="time">
                    <p class="text-right">Posted on  {{ post.timestamp.strftime('%B %d, %Y  %-I:%M%p') }}</p>
                </div>
                <br>
                <p>
                {{ post.body|truncate(500)|markdown }}
                </p>
                <p class="text-right"><a href="{{ url_for('detail', slug = post.slug) }}">Read more...</a></p>
            </div>
        </div><!-- END COL -->
    </div><!-- END ROW -->
    {% endfor %}

    <br>
    <!-- PAGINATION -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <a class="btn btn-default pull-left" {% if posts.has_prev %} href="{{ url_for('index', page=posts.prev_num) }}" {% else %} disabled="disabled" {% endif %}>Prev Post</a>
                <a class="btn btn-default pull-right" {% if posts.has_next %} href="{{ url_for('index', page=posts.next_num) }}" {% else %} disabled="disabled" {% endif %}>Next Post</a>
        </div> <!-- END OUTER COL -->
    </div><!-- END OUTER ROW -->
    <br>
{% endblock %}
</div><!-- END CONTAINER -->
